body{
    background-color:#eee;
}
.container-fluid{
    
    background-color: #fff;
    width: 955px;
    margin: 0 auto;
    margin-top: 12px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-width: 100%;

}
h1 {
    color:#2d2654;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
    font-size: 65px;
   
}
.navbar{
    margin: 0 auto;
    background-color:#2d2654;
    width: 955px;
    margin-top: -7px;
    padding-bottom: -5px;
    max-width: 100%;
    

}
ul li a{
    color: white;
}