*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background-color:#eee;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    

}
.container-fluid{
    
    background-color: #fff;
    width: 955px;
    margin: 0 auto;
    margin-top: 12px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    max-width: 100%;

}
 #firsthead {
    color:#2d2654;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: bolder;
    font-size: 65px;
    text-decoration: none;
   
}
.container-fluid >a:hover{
    text-decoration: none;
}
.navbar{
    margin: 0 auto;
    background-color:#2d2654;
    width: 955px;
    margin-top: -7px;
    padding-bottom: -5px;
    max-width: 100%;
    padding-left: 280px;
    font-size: 14px;

}

.navbar .navbar-nav .nav-link:hover{
    text-decoration: none;
    color:white;
}

.navbar .navbar-collapse .navbar-nav > .active > a{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color:#bbb;
}
.content {
    padding: 20px 20px 32px 10px;
    margin-top: 0;
    border-bottom: 1px solid #bbb;
    
    

    
    
}
.content h2.title1{
    font-family: 'Bodoni Moda', serif;
    color:  #333333;
    font-size: 36px;
    font-weight: normal;
    margin-top: 0;
    padding: 0 0 30px 0;
    background-image: url(http://stevenkinnear.com/wp-content/themes/trulyminimal/images/left-dot.png);
    background-position: bottom right;
   background-repeat: repeat-x;
}

.content h2.title2{
    color: #574d4d;
    font-size: 24px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    display: block;
    font-size: 1.5em;
    font-weight: bold;
   
}
.content .col1 a>img{
    display:inline;
    float: right;
    cursor: pointer;
    margin: 5px 0 15px 30px;
    border: 2px solid rgb(218, 136, 218);
}

p{
   line-height: 28px;
   font-size: 14px;
   color: rgb(87, 77, 77);
   margin: 20px 0 20px 0;
   

}
h2{
    
    font-size: 1.5em;
    margin: 20px 0 20px 0;
    font-weight: bold;
    color:#574d4d;
}
.content .row .col2{
   
    background-image: url(http://stevenkinnear.com/wp-content/themes/trulyminimal/images/top-dot.png);
    background-position:  10px 0px;
   background-repeat: repeat-y;
   padding-left: 30px;
  
   
}
h3{
   
    
    
    font-weight: normal;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    color: #8c8c8c;
    padding: 0;
    margin: 0 0 28px 0;
    font-size: 12px;
}
.content .col2 .social-icon{
    
    background-image: url(http://stevenkinnear.com/wp-content/themes/trulyminimal/images/left-dot.png);
    background-position: bottom right;
   background-repeat: repeat-x;
   padding-bottom: 30px;
   margin-bottom: 40px;
}
.content .col2 .social-icon a{
    margin-right: 10px;
    
    
   }
#page{
     
    background-image: url(http://stevenkinnear.com/wp-content/themes/trulyminimal/images/left-dot.png);
    background-position: bottom right;
   background-repeat: repeat-x;
   padding-bottom: 30px;
}
#footer{
    
    width: 955px;
    margin: 0 auto;
    padding: 40px 0 30px 0;
    color: #eee;
    font-size: 12px;
    line-height: 22px;
    font-family: 'PT Serif', serif;
    background-color: #eee;
    border: 0px;
    padding-left: 13px;

}
#footer footer > p > a {
    text-decoration: none;
    color: #2d2654;
}
#footer footer > p > a:hover {
    text-decoration: none;
    color: #cf0c0c;
}
